[user]
	name = daikiojm
	email = daiking.ca2@gmail.com
[credential]
	helper = osxkeychain
[alias]
	tag = tag -s
	st = status
[ghq]
	root = ~/src
	root = ~/go/src
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
